body {
color:rgb(238, 219, 51);
background:black;
margin:0px;

}


header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgba(140, 49, 236, 0.829);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div{
margin-right: 20xp;

}

chamada-texto{
    margin: 20px;
    
    }