body {
color:rgb(238, 219, 51);
background:black;
margin:0px;

}

header {
border-bottom: solid 2px rgba(241, 202, 129, 0.767)
padding: 20px;
font-size: 32px;
color:white
}

section {
background: rgb(227, 80, 247, 0.808);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

div{
margin-right: 20xp;

}

.chamada-texto{
margin: 20px;

}