body {
color:wheat;
background:black;
margin:0px;

}
header {

border-bottom: solid 2px rgb(221, 219, 70);
padding: 20px;
font-size: 32px;
color:rgb(199, 226, 45)
}
section {

background: rgb(198, 47, 218);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
div{

margin-right: 20xp;

}

.chamada-texto{

margin: 20px;

}